{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center" class="display-1">About Us</h1>
        <hr style="border-block-style: 2px;">
        <h3  class="display-4" style="text-align: center">Khali Weeds known for our trusted and legal marijuana <br>products delivery services in California. 
        <br>We are a dedicated multi brand collective <br>sourcing only the best cannabis products for your recreational needs.
        </h3>
    </div>
    <section class="details-card">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="static/img/qualidade.jpg" alt="">
                            <span><h4> PRODUCTS</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3>QUALITY PRODUCTS</h3>
                            <p>At Green Buds, We commit ourselves exclusively in providing the best experience for our customers, from the finest quality cannabis products to assured safety, absolute discretion, largest selection, and fastest delivery</p>
                                <a href="#" class="btn-card">Read</a>   
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="static/img/privacydelivery.png" alt="">
                            <span><h4> DELIVERY PRIVACY</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3>DELIVERY PRIVACY</h3>
                            <p>Privacy is without doubt crucial to your safety. Green Buds makes discretion our foremost priority, protecting you from exposure by any means necessary. 
                                We promise to always deliver only the best products in the best condition.</p>
                                <a href="#" class="btn-card">Read</a>   
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="static/img/fastdelivery.png" alt="">
                            <span><h4> FAST DELIVERY</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3>FAST DELIVERY</h3>
                            <p>Khali Weeds brings you the best weed in no time. No need to waste time in traffic or money on fuel. No need to risk your life navigating crime-infested areas. No.
                                 Rather stay home, sit back and relax, and let us take these risks for you.</p>
                                <a href="#" class="btn-card">Read</a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- details card section starts from here -->
{% endblock %}