{% extends "base.html" %}
{% block content %}
    <div class="container">
           <h1 class="display-1" style="text-align: center">FAQ</h1> 
        <h2 class="display-3">HOW MUCH IS DELIVERY CHARGES WHEN I ORDER ONLINE ?</h3>
        <p class="display-4">We offer overnight delivery to the USA and Canada at $50. For a normal 3-4 days shipping, the charge is $35. 
        Likewise, any other place in the world(Europe, Australia, Africa , etc) the charge is $35. So feel free to place your orders online at our shop.
        </p>
        <h2 class="display-3">PAYMENT METHODS ARE ACCEPTED I ON THE ONLINE SHOP ?</h3> 
        <p class="display-4">We accept payment through Money Gram, Western Union, Wal-Mart, Cash-App, Zelle and Bitcoins. There is a 5% Discount For every Bitcoin Payment made at our online shop.
        </p>
        <h2 class="display-3">HOW LONG WILL DELIVERY TAKE ?</h3>
        <p class="display-4">U.S. delivery time of 2-3 days, with Europe, Australia and Africa 3-5 days. The reasons for the delay may be due to national holidays or bad weather conditions.
        </p>
        <h2 class="display-3">HOW SECURE IS SHOPPING IN THE ONLINE SHOP? IS MY DATA PROTECTED ?</h3>
        <p class="display-4">We are fully dedicated to your privacy and security. Please refer to the current privacy policy in the terms of use section shipping.
        </p>
        <h2 class="display-3">WHAT EXACTLY HAPPENS AFTER AN ORDER ?</h3>

        <p class="display-4">Details are sent to you on how to carry out payment, at this time order is still on hold till payment is done.

        When payment is done, the payment receipt for the order good is sent to us to confirm payment at this point we being processing of customers order.

        On shipping a tracking number is sent to you to help track you package.
        </p>
        <h2 class="display-3">DO I RECEIVE AN INVOICE FOR MY ORDER ?</h3>
        <p class="display-4">Yes. An invoice is send for every purchase order made at our shop. This done to provide transparency with all our clients.
        </p>
    </div>
{% endblock %}
