{% block footer %}
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/aboutus"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="/faq"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="/contactus"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                    <li><a href="/accounts/login"><i class="fa fa-angle-double-right"></i>My Account</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                    <div style="width: 100%">
                    <iframe width="100%" height="350" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=10671%20Roselle%20St%2C%20San%20Diego%2C%20CA%2092121+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates</a></iframe></div><br />
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" style="color: white">
                    <h2 style="color: white">Snail mail</h2>
                    <hr style="color: white">
                    <address>
                        <strong>Khali Weeds Corp.</strong><br>
                        10671 Roselle St, San Diego<br>
                        CA 92121<br>
                        United States<br>
                        <abbr title="Phone">P:</abbr> (323) 607-8657
                    </address>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="/">Khali Weeds</a></u> </p>
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank"></a></p>
                </div>
                </hr>
        </div>
    </div>
</section>
{% endblock %}